{% extends 'music/base.html' %}
{% block title %} Album Details {% endblock %}
{% block body %}

  <h2>Album Title- <span> {{ album.album_title}} </span> </h2>
  <h2>Album Artist- <span> {{ album.artist}} </span> </h2>

  {% if error_message %}
    <p><strong>{{ error_message }}</strong></p>
  {% endif %}

      {% for song in album.song_set.all %}
        <input type="radio" id="song{{ forloop.counter }}" name="song" value="{{ song.id }}" />
        <label for="song{{ forloop.counter }}">
            {{ song.song_title }}
            {% if song.is_favorite %}
                <span class="glyphicon glyphicon-star"></span>
                <img src="https://cdn3.iconfinder.com/data/icons/musthave/256/Favorites.png" />
            {% endif %}
        </label>
        <br/>
       {% endfor %}
  

  {% endblock %}